<html>
    <head>
        <title>Prueba Proyecto</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Prueba Proyecto</a></h1>
        </div>
        <div>
            <p>publicado: 24.08.2025, 20:50</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Primeras pruebas para un blog hecho con Django.</p>
        </div>
        <div>
            <p>publicado: 24.08.2025, 20:55</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Segundas pruebas para un blog hecho con Django.</p>
        </div>
    </body>
</html>